.blog-container{
    width: 60%;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
    display: flex;
}

.btn {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
  }
  
.btn:hover {
    background: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
  }

.img{
    width: 20%;
    border-radius: 20px;
    
}

.body{
    
    padding-left: 20px;
}